[color]
   ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  st = status
  cl = clone
  ci = commit
  cm = commit -m
  br = branch -v
  co = checkout
  pu = pull
  pr = pull --rebase
  go = checkout -B
  unstage = reset HEAD --
  cim = commit -a -m
  pom = !sh -c 'git h && echo Clear to push? Hit enter. && read && git push origin master' -
  df = diff
  tags = tag -l
  undopush = push -f origin HEAD^:master
  h = !git --no-pager log origin/master..HEAD --abbrev-commit --pretty=oneline
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
	branches =› !legit branches
  remotes = remote -v
  sclone = svn clone -s
  spush = svn dcommit
  spull = svn rebase

[core]
  quotepath = false
  excludesfile = ~/.gitignore_global

[merge]
  log = true

[branch "master"]
  remote = origin
  merge = refs/heads/master

[user]
  name = James Fleeting
	email = hello@jamesfleeting.com

[init]
	templatedir = ~/.git_template
